.movie-wrapper {
  background-color: #121212;
  padding: 40px 20px;
  color: #ffffff;

  h2 {
    font-size: 24px;
    color: #f5c518;
    margin-bottom: 20px;
    text-align: center;
  }

  .movie-list,
  .show-list {
    margin-bottom: 50px;

    .slick-slider {
      .slick-slide {
        padding: 10px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }



      .slick-disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  .no-results {
    text-align: center;
    padding: 50px 20px;
    color: #efd515;

    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 600px;

    p {
      font-size: 16px;
      color: #efd515;
    }
  }
}

.movies-error,
.shows-error {
  text-align: center;
  color: #ff4c4c;
  font-size: 18px;
  margin-top: 20px;
}